.Input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Label {
    font-weight: bold;
    display: block;
    color: #703B09;
    margin-bottom: 0.4rem;
    text-align: left;
}

.InputElement {
    outline: none;
    border: 1px solid transparent;
    border-bottom: 2px solid #8F5C2C;
    background-color: #b4733631;
    color:#703B09;
    font: inherit;
    padding: 6px 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.InputElement:focus {
    outline: none;
    background-color: #ce8a4b31;
    border: 1px solid #703B09;
    border-bottom: 2px solid #8F5C2C;
}

.Invalid {
    border: 1px solid red;
    background-color: #FDA49A;
}